* {
    box-sizing: border-box;
}

html:not(.light-theme) {
  --pam-background: #1e1e1e;
  --pam-foreground: #007acc;
  --pam-not-urls-foreground: #f2f2f2;
  --pam-error-color: #ff5353;
  --pam-box-shadow-color: rgba(0,0,0,.1);
  --pam-border-color: #131313;
  --pam-action-background: #007acc;
  --pam-action-foreground: #fff;
  --pam-action-border: #007acc;
  --pam-url-background: #131313;
  --pam-url-domain-foreground: #646464;
  --pam-url-ignored-background: #131313;
  --pam-toggle-control-background: rgba(0,0,0,.5);
  --pam-toggle-box-shadow: #000;
  --pam-toggle-background: #007acc;
  --pam-loading-background: rgba(0,0,0,.9);
  --pam-loading-foreground: #007acc;
}

html.light-theme {
  --pam-background: #fff;
  --pam-foreground: #292929;
  --pam-not-urls-foreground: #292929;
  --pam-error-color: #ff5353;
  --pam-box-shadow-color: rgba(0,0,0,.1);
  --pam-border-color: #f2f2f2;
  --pam-action-background: #f2f2f2;
  --pam-action-foreground: #292929;
  --pam-action-border: #f2f2f2;
  --pam-url-background: #fff;
  --pam-url-ignored-background: #f2f2f2;
  --pam-url-domain-foreground: #646464;
  --pam-toggle-control-background: #f2f2f2;
  --pam-toggle-box-shadow: rgba(0,0,0,.1);
  --pam-toggle-background: #292929;
  --pam-loading-background: rgba(255,255,255,.9);
  --pam-loading-foreground: #292929;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--pam-foreground);
    background-color: var(--pam-background);
    overflow: hidden;
}

body.loading::after {
  content: 'Loading ...';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pam-loading-background);
  color: var(--pam-loading-foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  z-index: 99999;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a#help-button,
a#github-button {
    margin: 10px 10px 10px 0;
}

main {
    width: 70%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#controls-area {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  margin-top: 15px;
}

.control {
  margin-right: 5px;
  margin-bottom: 5px;
}

#search-input {
  outline: none;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  width: 300px;
  border: 1px solid var(--pam-border-color);
}

.toggle-theme-control i {
  font-style: normal;
  cursor: pointer;
}

.toggle-ignore-control img {    
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: relative;
  top: 4px;
  margin: 0 4px;
}

html:not(.light-theme) .toggle-ignore-control img {
  filter: invert(1);
}

.toggle-theme-control,
.toggle-ignore-control {
    position: relative;
    width: 60px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    background-color: var(--pam-toggle-control-background);
    padding: 5px;
    border-radius: 60px;
}

.toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--pam-toggle-background);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--pam-toggle-box-shadow);
  z-index: 9999;
}

html:not(.light-theme) .toggle-theme-control .toggle,
html:not(.show-ignored) .toggle-ignore-control .toggle {
  right: 5px;
}

#errors {
    color: var(--pam-error-color);
}

.hidden {
    display: none !important;
}

.no-urls {
  color: var(--pam-not-urls-foreground);
  font-size: 20px;
  margin-top: 15px;
}

html:not(.light-theme) .favicon.default-favicon {
  filter: invert(1);
}

#urls-list {
    display: flex;
    flex-direction: column;
}

.url-domain {
  color: var(--pam-url-domain-foreground);
  padding: 15px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--pam-url-domain-foreground);
}

.url-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px var(--pam-box-shadow-color);
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--pam-border-color);
}

.url-wrapper:not(.ignored) {
  background-color: var(--pam-url-background);
}

.url-wrapper.ignored {
    opacity: .6;
    background-color: var(--pam-url-ignored-background);
}

.url-info {
  flex: 1;
  padding: 5px 15px;
  overflow: hidden;
  min-width: 300px;
}

.url-info .url-href {
    font-size: 18px;
    color: var(--pam-foreground);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.url-info .url-description-input {
    border: none;
    background-color: transparent;
    color: var(--pam-url-domain-foreground);
    font-size: 14px;
    margin-top: 5px;
    padding: 5px 0;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
}

.url-favicon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    max-width: 70px;
}

.favicon {
    width: 70px;
    height: 70px;
    border-radius: 3px;
}

.url-actions {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  align-self: stretch;
  align-items: flex-start;
  max-width: 160px;
}

.url-action {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--pam-action-background);
    font-size: 12px;
    box-shadow: 0 2px 1px var(--pam-box-shadow-color);
    border: 1px solid var(--pam-border-color);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

html:not(.light-theme) .url-action:active {
    box-shadow: 0 0 3px #000 inset;
}

html.light-theme .url-action:active {
  box-shadow: none;
}

.url-action-icon {
    width: 12px;
    margin-right: 5px;
}


/* SCROLL */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}