html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul, li {
    list-style: none;
}

#errors {
    color: red;
}

.hidden {
    display: none !important;
}

.favicon {
    width: 100px;
    height: 100px;
    background: #fff;
}